include *.rst
include LICENSE
include momentumnet/__init__.py
include *.png
include requirements.txt

recursive-include examples *.py
recursive-include examples *.txt

recursive-include momentumnet *.py

### Exclude

exclude Makefile
exclude .coveragerc
exclude .circleci/*
exclude *.yml

exclude dictionary.txt
exclude .mailmap
recursive-exclude momentumnet *.pyc

recursive-exclude doc *

