name: unittests
on:
  pull_request:
  push:
    branches: main

jobs:
  test:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python: [3.9]
        torch-version: [1.9.0, 1.10.0]
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python }}
          channels: conda-forge
      - name: Install
        run: |
          conda --version
          which python
          python setup.py install
          pip install flake8 check-manifest
          pip install pytest coverage pytest-sugar
          pip install torch==${{ matrix.torch-version }}+cpu -f https://download.pytorch.org/whl/torch_stable.html --force-reinstall
      - name: Run Python unit tests
        run: |
          make
          flake8 --count momentumnet
      - name: Upload coverage
        run: |
          bash <(curl -s https://codecov.io/bash)
